<div class="container" style="margin-top=20px;">
	<h1>The secret checking place!</h1>
	<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th>Content</th>
			<th>Poster</th>
			<th></th>
			<th></th>
		</tr>
		<% @articles.each do |article| %>
			<tr>
				<td><%= article.title %></td>
				<td style="width:450px"><%= article.content %></td>
				<td><%= article.poster %></td>
				<td colspan="2">
					<div class="btn-group">
						<a class="btn btn-success" href="/article/<%= article.id %>/check">Confirm</a>
		  				<a class="btn btn-warning" href="/article/<%= article.id %>/edit">Edit</a>
		  				<a class="btn btn-danger" href="/article/<%= article.id %>/delete">Delete</a>
					</div>
				</td>
			</tr>
		<% end %>
	</table>
</div>
